In [34]:
import pandas as pd

# List of salutations
salutations = [
    "ASSOC PROF. Ir. Dr.",
    "BRIG. JEN. DATO' IR. HJ.",
    "DATO' Ir. Dr.",
    "DATO' Ir. HJ",
    "DATUK Ir. Hj.",
    "Ir. Dr.",
    "Ir.",
    "PROF. MADYA Ir. Dr.",
    "ASSOC. PROF. IR. DR.",
    "DATO' PROF. Ir. Dr.",
    "DATUK Ir.",
    "DATUK PROF. Ir. Dr.",
    "KAPTEN Ir.",
    "KOL (B) Ir.",
    "KOL. Ir.",
    "KOMANDER Ir.",
    "LT CDR (B)",
    "LT KOL Ir.",
    "MEJ (B) Ir.",
    "MEJAR (B) Ir.",
    "MEJAR Ir.",
    "PROF. Ir. Dr.",
    "PROF. Ir. Dr.",
    "PROF. Ir.",
    "PROF. MADYA Ir.",
    "TAN SRI Ir. Dr.",
    "DATO' Ir."
]


# Read the CSV file into a pandas DataFrame
df = pd.read_csv('bem_mechanical_PE_Practicing_Certificate_List.csv')

# Full names including salutation
full_names = df['Name_name']

# Initialize an empty list to store dictionaries
data = []

# Iterate through each full name
for full_name in full_names:
    # Initialize salutation and name variables
    salutation = ""
    name = full_name
    
    # Check if any salutation appears at the beginning of the full name
    for s in salutations:
        if full_name.startswith(s):
            salutation = s
            # Remove the salutation from the full name
            name = full_name[len(s):].strip()
            break
    
    # Append salutation and name to the list as a dictionary
    data.append({'Full Name': full_name, 'Salutation': salutation, 'Name': name})

# Create a DataFrame from the list of dictionaries
df = pd.DataFrame(data)

df

,Full Name,Salutation,Name
0,ASSOC PROF. Ir. Dr. SAIDDI ALI FIRDAUS B MOHAM...,ASSOC PROF. Ir. Dr.,SAIDDI ALI FIRDAUS B MOHAMED ISHAK
1,ASSOC. PROF. IR. DR. MOHD DANIAL BIN IBRAHIM,ASSOC. PROF. IR. DR.,MOHD DANIAL BIN IBRAHIM
2,BRIG. JEN. DATO' IR. HJ. NAJMUDDIN BIN HJ. JAA...,BRIG. JEN. DATO' IR. HJ.,NAJMUDDIN BIN HJ. JAAFAR (BERSARA)
3,DATO' Ir. AHMAD BIN HASSAN,DATO' Ir.,AHMAD BIN HASSAN
4,DATO' Ir. AHMAD MURAD BIN OMAR,DATO' Ir.,AHMAD MURAD BIN OMAR
...,...,...,...
1616,PROF. MADYA Ir. Dr. AHMAD RASDAN BIN ISMAIL,PROF. MADYA Ir. Dr.,AHMAD RASDAN BIN ISMAIL
1617,PROF. MADYA Ir. Dr. MOHAMED THARIQ BIN HAMEED ...,PROF. MADYA Ir. Dr.,MOHAMED THARIQ BIN HAMEED SULTAN
1618,PROF. MADYA Ir. HAYATI BINTI ABDULLAH,PROF. MADYA Ir.,HAYATI BINTI ABDULLAH
1619,PROF. MADYA Ir. ZAINAL ABIDIN BIN WAN CHIK,PROF. MADYA Ir.,ZAINAL ABIDIN BIN WAN CHIK
1620,TAN SRI Ir. Dr. NGAU BOON KEAT,TAN SRI Ir. Dr.,NGAU BOON KEAT

In [36]:
# Define the path for the Excel file
excel_file_path = 'salutation_seperated.xlsx'

# Save the filtered DataFrame to an Excel file
df.to_excel(excel_file_path, index=False)

print("Filtered data saved to", excel_file_path)

Filtered data saved to salutation_seperated.xlsx