In [1]:
import requests, random
from bs4 import BeautifulSoup
import re
import pandas as pd
import time

In [6]:
url = "https://www.greenre.org/greere_accredited_professionals"
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')
    print(soup.title.text)
else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

Certification | GreenRE Accredited Professionals

In [22]:
search_results = soup.find('tbody')

if search_results:
    rows = search_results.find_all('tr')
    extracted_data = []

    for row in rows:
        cells = row.find_all('td')
        data = {
            "No.": cells[0].text.strip(),
            "Name": cells[1].text.strip(),
            "Company": cells[2].text.strip(),
            "GREENREAP No.": cells[3].text.strip(),
            "Email Address": cells[4].text.strip(),
            "Expiry Date": cells[5].text.strip()
        }
        extracted_data.append(data)

    # Convert the extracted data to a DataFrame
    df = pd.DataFrame(extracted_data)
    
    
    # Optionally, save the DataFrame to a CSV file
    # df.to_csv('accredited_professionals.csv', index=False)
else:
    print("No table body found.")

Optional to Run

In [29]:
import pandas as pd

# List of salutations
salutations = [
    "ASSOC PROF. Ir. Dr.",
    "BRIG. JEN. DATO' IR. HJ.",
    "DATO' Ir. Dr.",
    "DATO' Ir. HJ",
    "DATUK Ir. Hj.",
    "Ir. Dr.",
    "Ir.",
    "PROF. MADYA Ir. Dr.",
    "ASSOC. PROF. IR. DR.",
    "DATO' PROF. Ir. Dr.",
    "DATUK Ir.",
    "DATUK PROF. Ir. Dr.",
    "KAPTEN Ir.",
    "KOL (B) Ir.",
    "KOL. Ir.",
    "KOMANDER Ir.",
    "LT CDR (B)",
    "LT KOL Ir.",
    "MEJ (B) Ir.",
    "MEJAR (B) Ir.",
    "MEJAR Ir.",
    "PROF. Ir. Dr.",
    "PROF. Ir. Dr.",
    "PROF. Ir.",
    "PROF. MADYA Ir.",
    "TAN SRI Ir. Dr.",
    "DATO' Ir.",
    "DR.",
    "IR.",
    "IR. TS.",
    "PROF. DR.",
    "TS. DR.",
    "DATO"
]

#standardize column Name to uppercase first
df['Name'] = df['Name'].str.upper()

# Full names including salutation
full_names = df['Name']

# Initialize an empty list to store dictionaries
data = []

# Iterate through each full name
for full_name in full_names:
    # Initialize salutation and name variables
    salutation = ""
    name = full_name
    
    # Check if any salutation appears at the beginning of the full name
    for s in salutations:
        if full_name.startswith(s):
            salutation = s
            # Remove the salutation from the full name
            name = full_name[len(s):].strip()
            break
    
    # Append salutation and name to the list as a dictionary
    data.append({'Full Name': full_name, 'Salutation': salutation, 'Name': name})

# Create a DataFrame from the list of dictionaries
df = pd.DataFrame(data)

df

,Full Name,Salutation,Name
0,AARON CHAI KAO KHY,,AARON CHAI KAO KHY
1,ABDUL AZIZ BIN ABDULL RASHID,,ABDUL AZIZ BIN ABDULL RASHID
2,AHMAD FADHLAN BIN ABD HAMID,,AHMAD FADHLAN BIN ABD HAMID
3,AHMAD FAISAL BIN CHE MOHAMAD,,AHMAD FAISAL BIN CHE MOHAMAD
4,AHMAD FAIZAL BIN ABD JAMIL,,AHMAD FAIZAL BIN ABD JAMIL
...,...,...,...
510,YUGANESAN K TARMALINGAM,,YUGANESAN K TARMALINGAM
511,YUGANESAN K TARMALINGAM,,YUGANESAN K TARMALINGAM
512,ZAIDATUL IZYAN BT. ZAINAL,,ZAIDATUL IZYAN BT. ZAINAL
513,ZARITH FAHTEHA BINTI MOHD KHALIS,,ZARITH FAHTEHA BINTI MOHD KHALIS
514,ZURIAH ASIDAH ABDULLAH,,ZURIAH ASIDAH ABDULLAH

In [30]:
df.to_excel('scraped.xlsx')