In [23]:
import glob
import pandas as pd
from dotenv import load_dotenv
import os
from urllib.parse import urlparse

# Load variables from the .env file into the environment
load_dotenv()

# Accessing variables
folder_path = os.getenv('FOLDER_PATH')

In [2]:
# Step 3: Use glob to Find CSV Files
csv_files = glob.glob(folder_path + '/*.csv')

# Print out the files found by glob.glob() for debugging
print("CSV Files found:")
print(csv_files)

# Step 4: Load CSV Files Using pandas
dfs = []

for file in csv_files:
    df = pd.read_csv(file)
    dfs.append(df)

# Step 5: Process or Analyze the DataFrames (Optional)
# Example: Concatenate all DataFrames into a single DataFrame
if dfs:
    combined_df = pd.concat(dfs, ignore_index=True)
    print("Combined DataFrame:")
    print(combined_df.head())
else:
    print("No CSV files found in the specified folder.")

CSV Files found:
['C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (1).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (10).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (11).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (12).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (2).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (3).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (4).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (5).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (6).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (7).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (8).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (9).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports.csv']
Combined DataFrame:
                                 Id  Uploaded Link First Name  \
0  66fae66b5f0840869ab4a494f26b5702            NaN      Bazil
1  f0683fc89f0c4a36a2a97020f134e9d6            NaN     Adriad
2  67c20f12bad1447fbc0b85bb29afe760            NaN      Osman
3  55a6d7112e7f4cdc9e15117100017e35            NaN     Mithin
4  a0c2dea99a2c425ea18816c9e7101d1e            NaN       Sree

           Last Name                          Position  \
0      Suhaimi Buang  Assistant Manufacturing Engineer
1               Choo               HR & Admin Director
2  Pauzi Abdul Hapip                   Senior Engineer
3          Sukumaran                   Project Manager
4          RaguRaman              Purchasing Executive

                                    Company                  Location  \
0  ECO PAPER PRODUCTS MANUFACTURING SDN BHD  Kampung Koalam, Malaysia
1                  Puratos Malaysia Sdn Bhd  Kuala Selangor, Malaysia
2                   Premium Sound Solutions    Pos Penangau, Malaysia
3            PRECISION SPRINGS (M) SDN.BHD.     Butterworth, Malaysia
4                   PSI Incontrol Sdn. Bhd.    Kuala Lumpur, Malaysia

                      Spoken Language  Recruitment Stage  Recruitment Status  \
0                                 NaN                NaN                 NaN
1  Bahasa Malaysia, English, Mandarin                NaN                 NaN
2                                 NaN                NaN                 NaN
3                                 NaN                NaN                 NaN
4                                 NaN                NaN                 NaN

   ... Experience Ended15 Experience Summary15 Business Email3  \
0  ...                NaN                  NaN             NaN
1  ...                NaN                  NaN             NaN
2  ...                NaN                  NaN             NaN
3  ...                NaN                  NaN             NaN
4  ...                NaN                  NaN             NaN

  Education Degree7 Education Faculty7 Education University7  \
0               NaN                NaN                   NaN
1               NaN                NaN                   NaN
2               NaN                NaN                   NaN
3               NaN                NaN                   NaN
4               NaN                NaN                   NaN

  Education Started7 Education Ended7 Link7 Link8
0                NaN              NaN   NaN   NaN
1                NaN              NaN   NaN   NaN
2                NaN              NaN   NaN   NaN
3                NaN              NaN   NaN   NaN
4                NaN              NaN   NaN   NaN

[5 rows x 140 columns]

Sorting out Links

In [25]:
#Part 1
#select only relevant columns
combined_df_dropduplicate = combined_df.drop_duplicates()
Links = combined_df_dropduplicate[['Link1','Link2','Link3','Link4','Link5','Link6','Link7','Link8']]

# Melt the DataFrame to combine all link columns into one column
melted_links = Links.melt(value_name='Link').drop('variable', axis=1)

# Drop rows with NaN values
combined_links = melted_links.dropna()

# Reset the index
combined_links.reset_index(drop=True, inplace=True)

# The resulting DataFrame with a single column of links
combined_links

#Part 2
# Function to extract the domain from a URL
def extract_domain(url):
    parsed_url = urlparse(url)
    return parsed_url.netloc

# Apply the function to extract domains
combined_links['Domain'] = combined_links['Link'].apply(extract_domain)

# The resulting DataFrame with domains
combined_links

# Display Unique Domains
# combined_links['Domain'].unique()

C:\Users\uadrian\AppData\Local\Temp\ipykernel_9436\3322594930.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_links['Domain'] = combined_links['Link'].apply(extract_domain)

                                                   Link            Domain
0     https://www.linkedin.com/in/bazil-suhaimi-buan...  www.linkedin.com
1      https://www.linkedin.com/in/adriad-choo-87b297a2  www.linkedin.com
2     https://www.linkedin.com/in/osman-pauzi-abdul-...  www.linkedin.com
3     https://www.linkedin.com/in/mithin-sukumaran-4...  www.linkedin.com
4     https://www.linkedin.com/in/sree-raguraman-6a7...  www.linkedin.com
...                                                 ...               ...
1337  http://www.tagged.com/photo_gallery.html?uid=3...    www.tagged.com
1338                        http://twitter.com/jlowwwww       twitter.com
1339                http://www.gravatar.com/leonardwein  www.gravatar.com
1340                       https://about.me/leonardwein          about.me
1341                     http://twitter.com/LeonardWein       twitter.com

[1342 rows x 2 columns]

In [28]:
# Extract column names
column_names = combined_df.columns.tolist()

# Create a new DataFrame with the column names
df_columns = pd.DataFrame(column_names, columns=['column'])

# Sort the DataFrame by the column names in ascending order
df_columns_sorted = df_columns.sort_values(by='column').reset_index(drop=True)

# Display the sorted DataFrame
df_columns_sorted

                    column
0           Business Email
1          Business Email1
2          Business Email2
3          Business Email3
4                  Company
5        Education Degree1
6        Education Degree2
7        Education Degree3
8        Education Degree4
9        Education Degree5
10       Education Degree6
11       Education Degree7
12        Education Ended1
13        Education Ended2
14        Education Ended3
15        Education Ended4
16        Education Ended5
17        Education Ended6
18        Education Ended7
19      Education Faculty1
20      Education Faculty2
21      Education Faculty3
22      Education Faculty4
23      Education Faculty5
24      Education Faculty6
25      Education Faculty7
26      Education Started1
27      Education Started2
28      Education Started3
29      Education Started4
30      Education Started5
31      Education Started6
32      Education Started7
33   Education University1
34   Education University2
35   Education University3
36   Education University4
37   Education University5
38   Education University6
39   Education University7
40     Experience Company1
41    Experience Company10
42    Experience Company11
43    Experience Company12
44    Experience Company13
45    Experience Company14
46    Experience Company15
47     Experience Company2
48     Experience Company3
49     Experience Company4
50     Experience Company5
51     Experience Company6
52     Experience Company7
53     Experience Company8
54     Experience Company9
55       Experience Ended1
56      Experience Ended10
57      Experience Ended11
58      Experience Ended12
59      Experience Ended13
60      Experience Ended14
61      Experience Ended15
62       Experience Ended2
63       Experience Ended3
64       Experience Ended4
65       Experience Ended5
66       Experience Ended6
67       Experience Ended7
68       Experience Ended8
69       Experience Ended9
70     Experience Started1
71    Experience Started10
72    Experience Started11
73    Experience Started12
74    Experience Started13
75    Experience Started14
76    Experience Started15
77     Experience Started2
78     Experience Started3
79     Experience Started4
80     Experience Started5
81     Experience Started6
82     Experience Started7
83     Experience Started8
84     Experience Started9
85     Experience Summary1
86    Experience Summary10
87    Experience Summary11
88    Experience Summary12
89    Experience Summary13
90    Experience Summary14
91    Experience Summary15
92     Experience Summary2
93     Experience Summary3
94     Experience Summary4
95     Experience Summary5
96     Experience Summary6
97     Experience Summary7
98     Experience Summary8
99     Experience Summary9
100      Experience Title1
101     Experience Title10
102     Experience Title11
103     Experience Title12
104     Experience Title13
105     Experience Title14
106     Experience Title15
107      Experience Title2
108      Experience Title3
109      Experience Title4
110      Experience Title5
111      Experience Title6
112      Experience Title7
113      Experience Title8
114      Experience Title9
115             First Name
116               Headline
117                     Id
118              Last Name
119                  Link1
120                  Link2
121                  Link3
122                  Link4
123                  Link5
124                  Link6
125                  Link7
126                  Link8
127               Location
128        Personal Email1
129        Personal Email2
130        Personal Email3
131               Position
132      Recruitment Stage
133     Recruitment Status
134                  Skill
135                  Skype
136        Spoken Language
137                Summary
138          Uploaded Link
139    Years of Experience