In [1]:
import glob
import pandas as pd
from dotenv import load_dotenv
import os
from urllib.parse import urlparse
import numpy as np

# Load variables from the .env file into the environment
load_dotenv()

# Accessing variables
folder_path = os.getenv('FOLDER_PATH')

In [2]:
# Step 3: Use glob to Find CSV Files
csv_files = glob.glob(folder_path + '/*.csv')

# Print out the files found by glob.glob() for debugging
print("CSV Files found:")
print(csv_files)

# Step 4: Load CSV Files Using pandas
dfs = []

for file in csv_files:
    df = pd.read_csv(file)
    dfs.append(df)

# Step 5: Process or Analyze the DataFrames (Optional)
# Example: Concatenate all DataFrames into a single DataFrame
if dfs:
    combined_df = pd.concat(dfs, ignore_index=True)
    print("Combined DataFrame:")
    print(combined_df.head())
else:
    print("No CSV files found in the specified folder.")

CSV Files found:
['C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (1).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (10).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (11).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (12).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (2).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (3).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (4).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (5).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (6).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (7).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (8).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports (9).csv', 'C:/Users/uadrian/Downloads/MITS/SignalHire/SignalHire Export Record\\SignalHire_exports.csv']
Combined DataFrame:
                                 Id  Uploaded Link First Name  \
0  66fae66b5f0840869ab4a494f26b5702            NaN      Bazil
1  f0683fc89f0c4a36a2a97020f134e9d6            NaN     Adriad
2  67c20f12bad1447fbc0b85bb29afe760            NaN      Osman
3  55a6d7112e7f4cdc9e15117100017e35            NaN     Mithin
4  a0c2dea99a2c425ea18816c9e7101d1e            NaN       Sree

           Last Name                          Position  \
0      Suhaimi Buang  Assistant Manufacturing Engineer
1               Choo               HR & Admin Director
2  Pauzi Abdul Hapip                   Senior Engineer
3          Sukumaran                   Project Manager
4          RaguRaman              Purchasing Executive

                                    Company                  Location  \
0  ECO PAPER PRODUCTS MANUFACTURING SDN BHD  Kampung Koalam, Malaysia
1                  Puratos Malaysia Sdn Bhd  Kuala Selangor, Malaysia
2                   Premium Sound Solutions    Pos Penangau, Malaysia
3            PRECISION SPRINGS (M) SDN.BHD.     Butterworth, Malaysia
4                   PSI Incontrol Sdn. Bhd.    Kuala Lumpur, Malaysia

                      Spoken Language  Recruitment Stage  Recruitment Status  \
0                                 NaN                NaN                 NaN
1  Bahasa Malaysia, English, Mandarin                NaN                 NaN
2                                 NaN                NaN                 NaN
3                                 NaN                NaN                 NaN
4                                 NaN                NaN                 NaN

   ... Experience Ended15 Experience Summary15 Business Email3  \
0  ...                NaN                  NaN             NaN
1  ...                NaN                  NaN             NaN
2  ...                NaN                  NaN             NaN
3  ...                NaN                  NaN             NaN
4  ...                NaN                  NaN             NaN

  Education Degree7 Education Faculty7 Education University7  \
0               NaN                NaN                   NaN
1               NaN                NaN                   NaN
2               NaN                NaN                   NaN
3               NaN                NaN                   NaN
4               NaN                NaN                   NaN

  Education Started7 Education Ended7 Link7 Link8
0                NaN              NaN   NaN   NaN
1                NaN              NaN   NaN   NaN
2                NaN              NaN   NaN   NaN
3                NaN              NaN   NaN   NaN
4                NaN              NaN   NaN   NaN

[5 rows x 140 columns]

Keeping Relevant Columns Only

In [3]:
# Create the 'Full Name' column by merging 'First Name' and 'Last Name' with a space as the delimiter
combined_df['Full Name'] = combined_df['First Name'] + ' ' + combined_df['Last Name']

# Drop the 'First Name' and 'Last Name' columns
keepcolumn_df = combined_df[['Full Name','Company','Position','Headline',
'Personal Email1',
'Personal Email2',
'Personal Email3',
'Business Email',
'Business Email1',
'Business Email2',
'Business Email3',
'Link1',
'Link2',
'Link3',
'Link4',
'Link5',
'Link6',
'Link7',
'Link8'
]]

SHdata_df = keepcolumn_df.drop_duplicates()
SHdata_df

,Full Name,Company,Position,Headline,Personal Email1,Personal Email2,Personal Email3,Business Email,Business Email1,Business Email2,Business Email3,Link1,Link2,Link3,Link4,Link5,Link6,Link7,Link8
0,Bazil Suhaimi Buang,ECO PAPER PRODUCTS MANUFACTURING SDN BHD,Assistant Manufacturing Engineer,Graduated in Bachelor Degree Manufacturing Eng...,NaN,NaN,NaN,NaN,bazil@eppmfg.com.my,NaN,NaN,https://www.linkedin.com/in/bazil-suhaimi-buan...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Adriad Choo,Puratos Malaysia Sdn Bhd,HR & Admin Director,"MSc in Training, Leicester University",adriadchoo@hotmail.com,NaN,NaN,NaN,achoo@puratos.com,NaN,NaN,https://www.linkedin.com/in/adriad-choo-87b297a2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Osman Pauzi Abdul Hapip,Premium Sound Solutions,Senior Engineer,Senior Engineer at Jinko Solar Penang.,R63690@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,https://www.linkedin.com/in/osman-pauzi-abdul-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mithin Sukumaran,PRECISION SPRINGS (M) SDN.BHD.,Project Manager,Project Manager,mithinsuku@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,https://www.linkedin.com/in/mithin-sukumaran-4...,https://www.facebook.com/mithinsuku,NaN,NaN,NaN,NaN,NaN,NaN
4,Sree RaguRaman,PSI Incontrol Sdn. Bhd.,Purchasing Executive,Purchasing Executive at PSI Incontrol Sdn.Bhd ...,NaN,NaN,NaN,NaN,raguraman@psi-incontrol.com,NaN,NaN,https://www.linkedin.com/in/sree-raguraman-6a7...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1248,CK Wan,Respack Manufacturing Sdn Bhd,Managing Director,Managing Director at Respack,NaN,NaN,NaN,NaN,ckwan@respack.com.my,NaN,NaN,https://www.linkedin.com/in/ck-wan-95863675,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1249,Jivan Kasvan,Rockwool Malaysia Sdn. Bhd.,Mechanical Maintenance,Mechanical Maintenance at Rockwool Malaysia S...,NaN,NaN,NaN,NaN,jivan_kasvan@bat.com,NaN,NaN,https://www.linkedin.com/in/jivan-kasvan-70740b6a,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1250,Aizwan Aziz,Rohde & Schwarz,Assistance Manager,"Well versed, experienced and versatile project...",aizwan22@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,https://www.linkedin.com/in/aizwan-aziz-a12835172,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1251,Mohd Amzar Sharif,Rinnai Manufacturing Malaysia Sdn Bhd,R&D Design Engineer- Structural,R&D Design Engineer- Structural at Rinnai Manu...,amcarisz@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,https://www.linkedin.com/in/mohd-amzar-sharif-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1252,BakChye Ooi,Robert Bosch (M) Sdn Bhd,Lean Consultant | Mech sub-Project Manager | M...,Lean Consultant | Mech sub-Project Manager | M...,bakchye@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,https://www.linkedin.com/in/bakchye-ooi-a11a06110,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Rearrange SignalHire's Data

In [4]:
# emails_df = SHdata_df[['Full Name', 'Company', 'Position', 'Headline', 'Personal Email1',
#        'Personal Email2', 'Personal Email3', 'Business Email',
#        'Business Email1', 'Business Email2', 'Business Email3', 'Link1',
#        'Link2', 'Link3', 'Link4', 'Link5', 'Link6', 'Link7', 'Link8']] 

emails_df0 = SHdata_df[['Full Name', 'Company', 'Position', 'Headline','Business Email']] 
emails_df1 = SHdata_df[['Full Name', 'Company', 'Position', 'Headline', 'Personal Email1','Business Email1']] 
emails_df2 = SHdata_df[['Full Name', 'Company', 'Position', 'Headline', 'Personal Email2','Business Email2']] 
emails_df3 = SHdata_df[['Full Name', 'Company', 'Position', 'Headline', 'Personal Email3','Business Email3']] 


# renaming columns
emails_df1.rename(columns={'Personal Email1':'Personal Email','Business Email1':'Business Email'},inplace=True)
emails_df2.rename(columns={'Personal Email2':'Personal Email','Business Email2':'Business Email'},inplace=True)
emails_df3.rename(columns={'Personal Email3':'Personal Email','Business Email3':'Business Email'},inplace=True)

# Combining DataFrames
emails_df = pd.concat([emails_df0,emails_df1, emails_df2, emails_df3], ignore_index=True)

# Dropping rows where both 'Personal Email' and 'Business Email' are null
# emails_df.dropna(subset=['Personal Email', 'Business Email'], how='all', inplace=True)
emailnotnull_df = emails_df[((emails_df['Personal Email'].notna()) | (emails_df['Business Email'].notna()))] #contains email
emailnull_df = emails_df[((emails_df['Personal Email'].isna()) & (emails_df['Business Email'].isna()))] #does not contain email

C:\Users\uadrian\AppData\Local\Temp\ipykernel_29400\1735603224.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_df1.rename(columns={'Personal Email1':'Personal Email','Business Email1':'Business Email'},inplace=True)
C:\Users\uadrian\AppData\Local\Temp\ipykernel_29400\1735603224.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_df2.rename(columns={'Personal Email2':'Personal Email','Business Email2':'Business Email'},inplace=True)
C:\Users\uadrian\AppData\Local\Temp\ipykernel_29400\1735603224.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_df3.rename(columns={'Personal Email3':'Personal Email','Business Email3':'Business Email'},inplace=True)

Attaching SignalHire Full Name and Email data to Template

In [11]:
pretemplate = pd.DataFrame(columns=[
    'NO', 'COMPANY NAME', 'COMPANY ADDRESS', 'COMPANY ACTIVITIES', 'COMPANY TEL', 
    'COMPANY EMAIL', 'COMPANY WEBSITE', 'CONTACT SALUTATION', 'CONTACT NAME', 
    'CONTACT TEL', 'WORK EMAIL', 'CONTACT EMAIL', 'POSITION', 'SUBJECT OF INTEREST', 
    'OTHER NOTES', 'Search Status', 'Link Reference', 'LinkedIn Profile'
])

# Populate the CONTACT EMAIL and WORK EMAIL columns
pretemplate['CONTACT EMAIL'] = emailnotnull_df.apply(lambda x: x['Personal Email'], axis=1)
pretemplate['WORK EMAIL'] = emailnotnull_df.apply(lambda x: x['Business Email'], axis=1)

# Filter for non-null Personal Email and create the mapping
personal_email_filtered_df = emailnotnull_df[emailnotnull_df['Personal Email'].notnull()]
namepersonal_mapping = dict(zip(personal_email_filtered_df['Personal Email'], personal_email_filtered_df['Full Name']))

# Filter for non-null Business Email and create the mapping
business_email_filtered_df = emailnotnull_df[emailnotnull_df['Business Email'].notnull()]
namebusiness_mapping = dict(zip(business_email_filtered_df['Business Email'], business_email_filtered_df['Full Name']))

# Fill NaN values in 'COMPANY NAME' column of dftemplate_t4 using company_mapping
pretemplate['CONTACT NAME'] = pretemplate['CONTACT NAME'].fillna(pretemplate['CONTACT EMAIL'].map(namepersonal_mapping))
pretemplate['CONTACT NAME'] = pretemplate['CONTACT NAME'].fillna(pretemplate['WORK EMAIL'].map(namebusiness_mapping))

pretemplate[['CONTACT NAME','CONTACT EMAIL','WORK EMAIL']]
# pretemplate[pretemplate['CONTACT NAME']=='Angelyn Ser']

,CONTACT NAME,CONTACT EMAIL,WORK EMAIL
213,Maggie Chan,NaN,maggie.chan@qdos.com.my
807,Mohd Fadli,NaN,fadli@ramly.com.my
920,Mohd Shafizzie,NaN,mohd.shafizzie@renesas.com
973,Ahmad Khairuddin,NaN,ahmad.khairuddin@swagelok.com
1217,Bazil Suhaimi Buang,NaN,bazil@eppmfg.com.my
...,...,...,...
4067,Fabian Knauthe,fabianknauthe@gmail.com,NaN
4775,Jersie Low,jersielow@gmail.com,NaN
4776,Kumaran Subramaniam,NaN,ksubramaniam@rapiscansystems.com
4777,Nor Khalilah A.Karim,NaN,nor.khalilah@plexus.com
4781,Angelyn Ser,NaN,angelynser@royalselangor.com

In [32]:
# Remove duplicate values in the 'Full Name' column
unique_null_df = emailnull_df[['Full Name']].drop_duplicates()
# Remove names in unique_null_df if they exist in pretemplate
filtered_unique_null_df = unique_null_df[~unique_null_df['Full Name'].isin(pretemplate['CONTACT NAME'])]

# Append new row for each name in filtered_unique_null_df to pretemplate['CONTACT NAME']
TemplateFilled_df = pretemplate.copy()
# Rename 'Full Name' to 'CONTACT NAME' to match the column in TemplateFilled_df
filtered_unique_null_df.rename(columns={'Full Name': 'CONTACT NAME'}, inplace=True)

# Concatenate the original TemplateFilled_df with the filtered names
TemplateFilled_df = pd.concat([TemplateFilled_df, filtered_unique_null_df], ignore_index=True)

TemplateFilled_df

C:\Users\uadrian\AppData\Local\Temp\ipykernel_29400\2618558024.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_unique_null_df.rename(columns={'Full Name': 'CONTACT NAME'}, inplace=True)

,NO,COMPANY NAME,COMPANY ADDRESS,COMPANY ACTIVITIES,COMPANY TEL,COMPANY EMAIL,COMPANY WEBSITE,CONTACT SALUTATION,CONTACT NAME,CONTACT TEL,WORK EMAIL,CONTACT EMAIL,POSITION,SUBJECT OF INTEREST,OTHER NOTES,Search Status,Link Reference,LinkedIn Profile
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Maggie Chan,NaN,maggie.chan@qdos.com.my,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mohd Fadli,NaN,fadli@ramly.com.my,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mohd Shafizzie,NaN,mohd.shafizzie@renesas.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ahmad Khairuddin,NaN,ahmad.khairuddin@swagelok.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bazil Suhaimi Buang,NaN,bazil@eppmfg.com.my,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mohd Fidha Uddin Alias,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Siti M.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Seobandrio Putra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ban Foo Yap,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shirley Ann,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Mapping SignalHire's data to template (applying Xlookup concept)

In [43]:
TemplateFilled_df

#Task 1 - mapping COMPANY NAME
# Create a copy of dftemplate_raw
dftemplate_t1 = TemplateFilled_df.copy()
# Create a dictionary mapping 'Raw Full Name' to 'phone' in filtered_df_t3, only for phone_type ''
company_mapping = dict(zip(SHdata_df['Full Name'], SHdata_df['Company']))
# Fill NaN values in 'CONTACT TEL' column of dftemplate_t3 using phone_mapping_t3
dftemplate_t1['COMPANY NAME'] = dftemplate_t1['COMPANY NAME'].fillna(dftemplate_t1['CONTACT NAME'].map(company_mapping))

#Task 2 - mapping POSITION
# Create a copy of dftemplate_raw
dftemplate_t2 = dftemplate_t1.copy()
# Create a dictionary mapping 'Raw Full Name' to 'phone' in filtered_df_t3, only for phone_type ''
position_mapping = dict(zip(SHdata_df['Full Name'], SHdata_df['Position']))
# Fill NaN values in 'CONTACT TEL' column of dftemplate_t3 using phone_mapping_t3
dftemplate_t2['POSITION'] = dftemplate_t2['POSITION'].fillna(dftemplate_t2['CONTACT NAME'].map(position_mapping))
dftemplate_t2[dftemplate_t2['CONTACT NAME']=='Angelyn Ser']

,NO,COMPANY NAME,COMPANY ADDRESS,COMPANY ACTIVITIES,COMPANY TEL,COMPANY EMAIL,COMPANY WEBSITE,CONTACT SALUTATION,CONTACT NAME,CONTACT TEL,WORK EMAIL,CONTACT EMAIL,POSITION,SUBJECT OF INTEREST,OTHER NOTES,Search Status,Link Reference,LinkedIn Profile
281,NaN,Royal Selangor International Sdn Bhd,NaN,NaN,NaN,NaN,NaN,NaN,Angelyn Ser,NaN,angelyn.ser@royalselangor.com,NaN,Head Of Human Resources,NaN,NaN,NaN,NaN,NaN
404,NaN,Royal Selangor International Sdn Bhd,NaN,NaN,NaN,NaN,NaN,NaN,Angelyn Ser,NaN,angelyn.ser@otis.com,NaN,Head Of Human Resources,NaN,NaN,NaN,NaN,NaN
418,NaN,Royal Selangor International Sdn Bhd,NaN,NaN,NaN,NaN,NaN,NaN,Angelyn Ser,NaN,angelynser@royalselangor.com,NaN,Head Of Human Resources,NaN,NaN,NaN,NaN,NaN

In [39]:
SHdata_df

,Full Name,Company,Position,Headline,Personal Email1,Personal Email2,Personal Email3,Business Email,Business Email1,Business Email2,Business Email3,Link1,Link2,Link3,Link4,Link5,Link6,Link7,Link8
0,Bazil Suhaimi Buang,ECO PAPER PRODUCTS MANUFACTURING SDN BHD,Assistant Manufacturing Engineer,Graduated in Bachelor Degree Manufacturing Eng...,NaN,NaN,NaN,NaN,bazil@eppmfg.com.my,NaN,NaN,https://www.linkedin.com/in/bazil-suhaimi-buan...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Adriad Choo,Puratos Malaysia Sdn Bhd,HR & Admin Director,"MSc in Training, Leicester University",adriadchoo@hotmail.com,NaN,NaN,NaN,achoo@puratos.com,NaN,NaN,https://www.linkedin.com/in/adriad-choo-87b297a2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Osman Pauzi Abdul Hapip,Premium Sound Solutions,Senior Engineer,Senior Engineer at Jinko Solar Penang.,R63690@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,https://www.linkedin.com/in/osman-pauzi-abdul-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mithin Sukumaran,PRECISION SPRINGS (M) SDN.BHD.,Project Manager,Project Manager,mithinsuku@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,https://www.linkedin.com/in/mithin-sukumaran-4...,https://www.facebook.com/mithinsuku,NaN,NaN,NaN,NaN,NaN,NaN
4,Sree RaguRaman,PSI Incontrol Sdn. Bhd.,Purchasing Executive,Purchasing Executive at PSI Incontrol Sdn.Bhd ...,NaN,NaN,NaN,NaN,raguraman@psi-incontrol.com,NaN,NaN,https://www.linkedin.com/in/sree-raguraman-6a7...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1248,CK Wan,Respack Manufacturing Sdn Bhd,Managing Director,Managing Director at Respack,NaN,NaN,NaN,NaN,ckwan@respack.com.my,NaN,NaN,https://www.linkedin.com/in/ck-wan-95863675,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1249,Jivan Kasvan,Rockwool Malaysia Sdn. Bhd.,Mechanical Maintenance,Mechanical Maintenance at Rockwool Malaysia S...,NaN,NaN,NaN,NaN,jivan_kasvan@bat.com,NaN,NaN,https://www.linkedin.com/in/jivan-kasvan-70740b6a,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1250,Aizwan Aziz,Rohde & Schwarz,Assistance Manager,"Well versed, experienced and versatile project...",aizwan22@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,https://www.linkedin.com/in/aizwan-aziz-a12835172,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1251,Mohd Amzar Sharif,Rinnai Manufacturing Malaysia Sdn Bhd,R&D Design Engineer- Structural,R&D Design Engineer- Structural at Rinnai Manu...,amcarisz@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,https://www.linkedin.com/in/mohd-amzar-sharif-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1252,BakChye Ooi,Robert Bosch (M) Sdn Bhd,Lean Consultant | Mech sub-Project Manager | M...,Lean Consultant | Mech sub-Project Manager | M...,bakchye@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,https://www.linkedin.com/in/bakchye-ooi-a11a06110,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Sorting out Links

In [28]:
# Part 1: Combine links into a single column
Links = combined_df_dropduplicate[['Link1', 'Link2', 'Link3', 'Link4', 'Link5', 'Link6', 'Link7', 'Link8']]

# Melt the DataFrame to combine all link columns into one column
melted_links = Links.melt(value_name='Link').drop('variable', axis=1)

# Drop rows with NaN values
combined_links = melted_links.dropna()

# Reset the index
combined_links.reset_index(drop=True, inplace=True)

# Part 2: Extract and normalize domains
def extract_domain(url):
    parsed_url = urlparse(url)
    domain = parsed_url.netloc
    # Remove 'www.' prefix if present
    if domain.startswith('www.'):
        domain = domain[4:]
    return domain

# Apply the function to extract and normalize domains
combined_links['Domain'] = combined_links['Link'].apply(extract_domain)

# Display unique domains
unique_domains = combined_links['Domain'].unique()

# The resulting DataFrame with links and normalized domains
combined_links

# Display unique domains
unique_domains

C:\Users\uadrian\AppData\Local\Temp\ipykernel_9436\2749534075.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_links['Domain'] = combined_links['Link'].apply(extract_domain)

array(['linkedin.com', 'facebook.com', 'instagram.com', 'twitter.com',
       'github.com', 'youtube.com', 'tagged.com', 'foursquare.com',
       'gravatar.com', 'about.me'], dtype=object)

In [28]:
# Extract column names
column_names = combined_df.columns.tolist()

# Create a new DataFrame with the column names
df_columns = pd.DataFrame(column_names, columns=['column'])

# Sort the DataFrame by the column names in ascending order
df_columns_sorted = df_columns.sort_values(by='column').reset_index(drop=True)

# Display the sorted DataFrame
df_columns_sorted

                    column
0           Business Email
1          Business Email1
2          Business Email2
3          Business Email3
4                  Company
5        Education Degree1
6        Education Degree2
7        Education Degree3
8        Education Degree4
9        Education Degree5
10       Education Degree6
11       Education Degree7
12        Education Ended1
13        Education Ended2
14        Education Ended3
15        Education Ended4
16        Education Ended5
17        Education Ended6
18        Education Ended7
19      Education Faculty1
20      Education Faculty2
21      Education Faculty3
22      Education Faculty4
23      Education Faculty5
24      Education Faculty6
25      Education Faculty7
26      Education Started1
27      Education Started2
28      Education Started3
29      Education Started4
30      Education Started5
31      Education Started6
32      Education Started7
33   Education University1
34   Education University2
35   Education University3
36   Education University4
37   Education University5
38   Education University6
39   Education University7
40     Experience Company1
41    Experience Company10
42    Experience Company11
43    Experience Company12
44    Experience Company13
45    Experience Company14
46    Experience Company15
47     Experience Company2
48     Experience Company3
49     Experience Company4
50     Experience Company5
51     Experience Company6
52     Experience Company7
53     Experience Company8
54     Experience Company9
55       Experience Ended1
56      Experience Ended10
57      Experience Ended11
58      Experience Ended12
59      Experience Ended13
60      Experience Ended14
61      Experience Ended15
62       Experience Ended2
63       Experience Ended3
64       Experience Ended4
65       Experience Ended5
66       Experience Ended6
67       Experience Ended7
68       Experience Ended8
69       Experience Ended9
70     Experience Started1
71    Experience Started10
72    Experience Started11
73    Experience Started12
74    Experience Started13
75    Experience Started14
76    Experience Started15
77     Experience Started2
78     Experience Started3
79     Experience Started4
80     Experience Started5
81     Experience Started6
82     Experience Started7
83     Experience Started8
84     Experience Started9
85     Experience Summary1
86    Experience Summary10
87    Experience Summary11
88    Experience Summary12
89    Experience Summary13
90    Experience Summary14
91    Experience Summary15
92     Experience Summary2
93     Experience Summary3
94     Experience Summary4
95     Experience Summary5
96     Experience Summary6
97     Experience Summary7
98     Experience Summary8
99     Experience Summary9
100      Experience Title1
101     Experience Title10
102     Experience Title11
103     Experience Title12
104     Experience Title13
105     Experience Title14
106     Experience Title15
107      Experience Title2
108      Experience Title3
109      Experience Title4
110      Experience Title5
111      Experience Title6
112      Experience Title7
113      Experience Title8
114      Experience Title9
115             First Name
116               Headline
117                     Id
118              Last Name
119                  Link1
120                  Link2
121                  Link3
122                  Link4
123                  Link5
124                  Link6
125                  Link7
126                  Link8
127               Location
128        Personal Email1
129        Personal Email2
130        Personal Email3
131               Position
132      Recruitment Stage
133     Recruitment Status
134                  Skill
135                  Skype
136        Spoken Language
137                Summary
138          Uploaded Link
139    Years of Experience